---

build: off

before_test:
  - choco install ghc
  - choco install cabal
  - choco install 7zip

test_script:
  - refreshenv
  - cabal update
  - cabal new-build all
  - ps: Get-ChildItem . -name -recurse tomlcheck.exe
  - ps: Copy-Item C:\projects\tomlcheck\dist-newstyle\build\x86_64-windows\ghc-8.4.3\tomlcheck-0.1.0.34\x\tomlcheck\opt\build\tomlcheck\tomlcheck.exe tomlcheck-x86_64-pc-windows.exe
  - ps: Push-AppveyorArtifact tomlcheck-x86_64-pc-windows.exe

deploy:
  artifacts: tomlcheck-x86_64-pc-windows.exe
  provider: GitHub
  on:
    appveyor_repo_tag: true
  auth_token:
    secure: 0qzMr6xmEwRoj/9TJOgDuW/LXWfGVM/4A7kvAXGe0BAwWCF13AWE2SARrYkyc3ji

branches:
  only:
    - master
    - /\d+\.\d+\.\d+\.\d+.*$/
